<div>
  <div class="container list-group col-8" *ngFor="let message of messages">
    <mat-card class="example-card">
      <mat-card-content>
        <span> <strong>Date:</strong>{{message.datetime}}</span>
        <div> <strong>Author</strong>: {{message.author | author}}</div>
        <div><strong>Message:</strong> {{message.message}}</div>
       <img [src]="message.image | image"
            [alt]=" message.image | image"
            mat-card-image
       />
      </mat-card-content>
    </mat-card>
  </div>
</div>
