<mat-card class="mat-app-background">
<mat-card-content>
  <form #f="ngForm" fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input name="author"  matInput ngModel/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        name="message"
        required
        ngModel
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Image</mat-label>
      <app-file-input name="image" ngModel></app-file-input>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid"
      > Post
      </button>
    </div>
  </form>
</mat-card-content>
<div>
  <mat-card-footer>
  </mat-card-footer>
</div>
</mat-card>

